* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Header {
  text-align: center;
}

.RecipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px 20px;
}

.RecipeList ul {
  list-style-position: inside;
  text-align: left;
}

.RecipeResult {
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
}

.RecipeResult .image {
  width: 200px;
  height: 200px;
  display: block;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.RecipeResult h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  color: black;
  display: block;
  z-index: 2;
}

.RecipeResult .backgroundOverlay {
  background-color: rgba(255, 255, 255, 0.274);
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.RecipeResult .Time {
  position: absolute;
  left: 0;
  right: 0;
  top: 20;
  bottom: 0;
  color: black;
  z-index: 2;
  text-align: center;
}

.RecipeResult .Time img {
  filter: initial;
}

.SearchBar {
  display: grid;
  grid-template-areas:
    ". a ."
    "b c d"
    "e g f";
}

label,
input,
select {
  display: block;
  font-family: Poppins;
  font-weight: 600;
}

input:not([type="submit"], [type="text"]),
select {
  width: 10rem;
}

input[type="text"] {
  width: 20rem;
  grid-area: a;
}

label:nth-of-type(2) {
  grid-area: b;
}

label:nth-of-type(3) {
  grid-area: c;
}

label:nth-of-type(4) {
  grid-area: d;
}

input[type="submit"] {
  width: 7rem;
  grid-area: g;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  border-radius: 20px;
  cursor: pointer;
}

.Ingredients {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.Recipe {
  text-align: center;
  width: 100%;
}

.Recipe button {
  display: block;
  margin-right: 1rem;
}

.Time img {
  width: 25px;
  filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
  display: inline;
}

.RecipeResult .Time span {
  font-weight: bold;
  font-size: 120%;
}

@media screen and (max-width: 1030px) {
  .RecipeList {
    flex-direction: column;
    align-items: center;
  }
}