* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Header {
  text-align: center;
}

.RecipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px 20px;
}

.RecipeList ul {
  list-style-position: inside;
  text-align: left;
}

.RecipeResult {
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
}

.RecipeResult img {
  width: 200px;
  height: 200px;
  display: block;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.RecipeResult h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  color: black; 
  display: block;
  z-index: 2;
}

.RecipeResult .backgroundOverlay {
  background-color: rgba(255, 255, 255, 0.274);
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.RecipeResult .time {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10;
  color: black; 
  display: block;
  z-index: 2;
}

.SearchField {
  margin-bottom: 1rem;
  text-align: center;
}

.SearchField input {
  width: 10rem;
  height: 2rem;
}

.SearchField button {
  margin-left: 0.5rem;
}

.Ingredients {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.Ingredients 

.Recipe {
  text-align: center;
  width: 90%;
}

.Recipe button {
  display: block;
  margin-right: 1rem;
}